.PageLink {
  color: black;
  margin-right: 10px;
  font-size: 20px;
}
.ActivePageLink {
  font-weight: bold;
}
li {
  padding: 15px;
}
li:hover {
  background-color: rgb(228, 228, 228);
}
ul {
  position: sticky;
  top: 0;
}
input {
  padding: 2px;
}
